body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background-color: #222;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border: 2px solid white;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50%;
    color: white;
}

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    text-shadow: 1px 1px rgb(0, 0, 0);
}

.content {
    flex-grow: 1;
    background-color: #111;
    padding: 20px;
    overflow-y: auto;
}

.header {
    position: relative;
}

.header img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.header h1 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 48px;
    text-shadow: 2px 2px 4px #000;
}

.description {
    margin-top: 20px;
}

.description p {
    font-size: 16px;
    line-height: 1.6;
    color: white;
}

.learn-more {
    display: inline-block;
    margin-top: 20px;
    color: #1f72a7;
    text-decoration: none;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    bottom: 0;
}